### County Health Data Subset
## Step 1
Import the pandas and numpy environments and name them using the following code: **import pandas as pd**, and **import numpy as np**. Providing the abbreviated titles makes inputting instructions faster.

In [1]:
import pandas as pd
import numpy as np

## Step 2
Now we want pandas to read our data file, allowing us to pull data from it. we will use the following code: **df=pd.read_csv("CountyHealthData_2014-2015.csv")**. By doing this, we are defining the input "df" as we want pandas to read our .csv file.

In [2]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

## Step 3

In order to pull the data allowing the comparison of excessive drinking to median household income in the United States, we will use the following code: **df[["State","Year","Excessive drinking","Median household income"]]**. We add state and year to allow a little more context, and the ability to see if there is a change from 2014-2015 results.

In [29]:
df[["State","Year","Excessive drinking","Median household income"]]

     State      Year  Excessive drinking  Median household income
0       AK  1/1/2014               0.266                    69192
1       AK  1/1/2015               0.266                    74088
2       AK  1/1/2014               0.185                    71094
3       AK  1/1/2015               0.185                    76362
4       AK  1/1/2014               0.171                    41722
...    ...       ...                 ...                      ...
6104    WY  1/1/2015               0.137                    60953
6105    WY  1/1/2014               0.099                    49533
6106    WY  1/1/2015               0.099                    50740
6107    WY  1/1/2014               0.170                    53665
6108    WY  1/1/2015               0.170                    59314

[6109 rows x 4 columns]

## Step 4

Now we want to make this subset of data into its own table for export to .csv and ease of future recall. To do this, we will input the following code: **ED_to_MHI_subset=df[["State","Year","Excessive drinking","Median household income"]].copy()**.

In [14]:
ED_to_MHI_subset=df[["State","Year","Excessive drinking","Median household income"]].copy()

## Step 5

Lastly, we want to export the table as a .csv file. We will do this by using the following code: **ED_to_MHI_subset.to_csv("ED_to_MHI_subset.csv",index=False)

In [17]:
ED_to_MHI_subset.to_csv("ExcessiveDrinking-MedianHHIncome.csv",index=False)